* {
    margin: 0;
    padding: 0;
}

/* Centrar main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Customizar el header */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/*Customizar la puntuación */
#points {
    font-size: 20px;
    margin-top: 15px;
}

/* Customizar la pregunta */
#question {
    width: 30rem;
    text-align: center;
    border-radius: 3rem;
    background-color: black;
    color: white;
    border-style: solid;
    text-align: center;
    padding: 10px 20px;
    margin: 3%;
}

/* Crear columna de respuestas y customizar los botones */
button {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 30rem;
    border-radius: 3rem;
    padding: 10px 20px;
    margin: 5px 40px 5px;
}

/* Color de los botones al pasar por ellos */
button:hover {
    background-color: rgb(8, 97, 67);
}

/*Color del botón seleccionado */
button:active {
    background-color: gray;
}

/*Customizar el footer */
footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
}